<div class="portfolio_content">
                <p style="padding-bottom: 3rem;">Portfolio</p>
                <div class="grids">
                    <figure class="effect-layla">
                        <img src="image/portfolio_img2.jpg" alt="chess-chess"/>
                        <figcaption>
                            <h4>CHESS BOARD</h4>
                            <p><a href="#" title="click"><i class="fas fa-link"></i> <small>github</small></a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-layla">
                        <img src="image/portfolio_img.jpg" alt="chess-chess"/>
                        <figcaption>
                            <h4>CHESS BOARD</h4>
                            <p><a href="#" title="click"><i class="fas fa-link"></i> <small>github</small></a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-layla">
                        <img src="image/portfolio_img3.jpg" alt="chess-chess"/>
                        <figcaption>
                            <h4>CHESS BOARD</h4>
                            <p><a href="#" title="click"><i class="fas fa-link"></i> <small>github</small></a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-layla">
                        <img src="image/portfolio_img4.jpeg" alt="chess-chess"/>
                        <figcaption>
                            <h4>CHESS BOARD</h4>
                            <p><a href="#" title="click"><i class="fas fa-link"></i> <small>github</small></a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-layla">
                        <img src="image/portfolio_img5.jpg" alt="chess-chess"/>
                        <figcaption>
                            <h4>CHESS BOARD</h4>
                            <p><a href="#" title="click"><i class="fas fa-link"></i> <small>github</small></a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-layla">
                        <img src="image/portfolio_img6.jpg" alt="chess-chess"/>
                        <figcaption>
                            <h4>CHESS BOARD</h4>
                            <p><a href="#" title="click"><i class="fas fa-link"></i> <small>github</small></a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-layla">
                        <img src="image/portfolio_img.jpg" alt="chess-chess"/>
                        <figcaption>
                            <h4>CHESS BOARD</h4>
                            <p><a href="#" title="click"><i class="fas fa-link"></i> <small>github</small></a></p>
                        </figcaption>
                    </figure>
                    <figure class="effect-layla">
                        <img src="image/portfolio_img2.jpg" alt="chess-chess"/>
                        <figcaption>
                            <h4>CHESS BOARD</h4>
                            <p><a href="#" title="click"><i class="fas fa-link"></i> <small>github</small></a></p>
                        </figcaption>
                    </figure>
                </div><!-- end of grids -->
                <p><a href="#" class="all">view all project <i class="fa fa-arrow-right"></i></a></p>
            </div><!-- end of portfolio content -->