<div class="portfolio_content">
    <p style="padding-bottom: 3rem;">Portfolio</p>
    <div class="grids">
        {% for portfolio in portfolio_info %}
        <figure class="effect-layla">
            <img src="{{ portfolio.image.url }}" alt="{{ portfolio.project_name }}"/>
            <figcaption>
                <h4>{{ portfolio.project_name }}</h4>
                <p><a href="{{ portfolio.git_link }}" target="_blank" title="click"><i class="fas fa-link"></i> <small>github</small></a></p>
            </figcaption>
        </figure>
        {% endfor %}
    </div><!-- end of grids -->
    <div class="clearfix"></div><br/>
    <p><a href="https://github.com/jakiiii?tab=repositories" class="all">view all project <i class="fa fa-arrow-right"></i></a></p>
</div><!-- end of portfolio content -->
