<div class="skill">
                <h2 class="light">SKILLS</h2>
                <div class="top_skill">
                    <h3 class="underline">Expertise</h3>
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>Codeigniter</li>
                        <li>PHP RAW</li>
                        <li>Bootstrap</li>
                        <li>MySQLi</li>
                        <li>SQLite</li>
                    </ul>
                </div>
                <div class="also_know">
                    <h3 class="underline">Familiar With</h3>
                    <ul>
                        <li>Angular 6</li>
                        <li>JavaScript</li>
                        <li>jQuery</li>
                        <li>JSON</li>
                        <li>GIT</li>
                    </ul>
                </div>
                <div class="other_skill">
                    <h3 class="underline">Interest</h3>
                    <ul>
                        <li>Penetration test</li>
                    </ul>
                </div>
            </div><!-- end of skill -->