{% load static %}
<!-- bootstrap-->
<!-- Normalize css -->
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/normalize.css' %}">

{% if not base_portfolio %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}">
{% endif %}

<!-- fonts awesome-->
<link rel="stylesheet" href="{% static 'font/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'font/fontawesome/css/solid.min.css' %}">
<link rel="stylesheet" href="{% static 'font/fontawesome/css/fontawesome.min.css' %}">

<!-- custom css -->
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/blog_style.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">


<!-- highlight.js -->
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'highlightjs/cs/default.min.css' %}">
{#<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">#}
{#<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/styles/default.min.css">#}
