<footer>
            <nav>
                <p>Copyright &COPY; 2018 by Abdullah Al Mohin Jaki &squf; All rights reserved</p>
                <ul>
                    <li><a href="" target="_blank"><i class="fab fa-github-square"></i></a></li>
                    <li><a href="" target="_blank"><i class="fab fa-gitlab"></i></a></li>
                    <li><a href="" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </nav>
        </footer><!-- end of footer -->