{% load static %}
<!-- javascript jquery and bootstrap -->
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ajax_search.js' %}"></script>


<!-- highlightjs -->
<script type="text/javascript" src="{% static 'highlightjs/js/highlight.min.js' %}"></script>
{#<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>#}
{#<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/highlight.min.js"></script>#}
<script>hljs.initHighlightingOnLoad();</script>
