{% extends 'account_base.html' %}
{% block title %}{{ title }} || {{ block.super }}{% endblock title %}


{% block content %}
<div>
    <div class="py-4">
        <div class="row">
            <div class="col-12 col-md-12">
                <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col" class="text-center">Image</th>
                    <th scope="col" class="text-center">Timestamp</th>
                    <th scope="col" class="text-center">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for post in post_list %}
                <tr>
                    <th scope="row" width="50px;">{{ forloop.counter }}</th>
                    <td><a href="{{ post.get_absolute_url }}" style="text-decoration: none">{{ post.title }}</a></td>
                    <td width="180px;" class="text-center"><img src="{{ post.image.url }}" class="img img-thumbnail" style="width: 140px; height: 100px;"/></td>
                    <td width="120px;" class="text-center">{{ post.timestamp|date:'F j, Y' }}</td>
                    <td width="200px" class="text-center">
                        <a href="{{ post.get_absolute_update_url }}" class="btn btn-sm btn-primary">Update</a>
                        <a href="{{ post.get_absolute_delete_url }}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table><!-- end of table -->
            <!-- pagination -->
            <div>
                {% if is_paginated %}
                    <ul class="pagination">
                        <li class="page-item">
                            {% if page_obj.has_previous %}
                                <a class="page-link" href="/profile/posts/?page={{ page_obj.previous_page_number }}">Prev</a>
                            {% endif %}
                        </li>
                        <li class="page-item active">
                            <button class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</button>
                        </li>
                        <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="page-link" href="/profile/posts/?page={{ page_obj.next_page_number }}">Next</a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
            </div>
            <!-- end pagination -->
            </div><!-- end of col-9 -->
        </div><!-- end of row -->
    </div>
</div>
{% endblock %}
