{% extends 'base.html' %}
{% block title %}Search || {{ block.super }}{% endblock title %}


{% block content %}
    <div class="col-12 col-md-12">
        <section>
            <div class="col-12 col-md-12">
                <div class="card-deck">
                    {% for content in home_content %}
                    <div class="col-3 col-md-3">
                        <div class="card">
                            <a href="{{ content.get_absolute_url }}"><img class="card-img-top card-img-height img img-thumbnail" src="{{ content.image.url }}" alt="{{ content.title }}"></a>
                            <div class="card-body">
                                <p class="card-title">
                                    <a href="{{ content.get_absolute_url }}" style="text-decoration: none;">{{ content.title }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- end of new content -->
        <div class="clearfix"></div><br />
    </div><!-- end of col-12 col-md-12 -->
{% endblock %}