<div class="info">
    <p style="padding-bottom: 3rem;">Contact here or <a href="mailto:me.jaki@outlook.com" style="color: #FFFFFF" title="send email"><i class="fa fa-envelope"></i></a></p>
    <form method="post">{% csrf_token %}
        <input type="text" name="full_name" class="text_box" required id="id_full_name" placeholder="Full Name" />
        <input type="text" name="email" class="text_box" id="id_email" placeholder="your@mail.com" />
        <input type="text" name="subject" class="text_box" placeholder="Subject"  />
        <textarea name="context" placeholder="your message..." id="id_context"></textarea>
        <br>
        <button class="btn-e btn-1 btn-1e">Send</button>
    </form>
</div><!--end of info section-->
