<div class="info">
                <p style="padding-bottom: 3rem;">Contact here or <a href="mailto:me.jaki@outlook.com" style="color: #FFFFFF" title="send email"><i class="fa fa-envelope"></i></a></p>
                <form action="" method="post">
                    <input type="text" name="username" class="text_box" placeholder="Username" />
                    <input type="text" name="email" class="text_box" placeholder="me@email.com" />
                    <input type="text" name="subject" class="text_box" placeholder="Subject" />
                    <textarea name="message_description" placeholder="your message..."></textarea>
                    <br>
                    <button class="btn-e btn-1 btn-1e">Send</button>
                </form>
            </div><!--end of info section-->